#loginTitle {
  text-align: center;
  color: white;
  padding-top: 30px;
}

#loginImg {
  display: block;
  align-self: center;
  margin: auto;
}

#loginContainer {
  width: 90%;
  background-color: black;
  border: 2px green solid;
  display: block;
  align-self: center;
  margin: auto;
}

#btnContainer {
  margin: auto;
  width: 30%;
  display: block;
  align-self: center;
  border: 2px black solid;
}

#loginFooter {
  text-align: center;
  color: white;
  padding-bottom: 40px;
}

#userNameLabel {
  text-align: center;
}

#userNameInput {
  width: 60%;
}
